
<div *ngIf="storedFile">
    <h2><span jhiTranslate="ps3App.storedFile.detail.title">Stored File</span> {{storedFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ps3App.storedFile.fileName">File Name</span></dt>
        <dd>
            <span>{{storedFile.fileName}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.storedFile.contentType">Mime Type</span></dt>
        <dd>
            <span>{{storedFile.contentType}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.storedFile.ownerApplication">Owner Application</span></dt>
        <dd>
            <span>{{storedFile.ownerApplication}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.storedFile.ownerBucket">Owner Bucket</span></dt>
        <dd>
            <span>{{storedFile.ownerBucket}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.storedFile.createdAt">Created At</span></dt>
        <dd>
            <span>{{storedFile.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.storedFile.lastModified">Last Modified</span></dt>
        <dd>
            <span>{{storedFile.lastModified | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.storedFile.createdBy">Created By</span></dt>
        <dd>
            <span>{{storedFile.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.storedFile.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{storedFile.lastModifiedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stored-file/'+ storedFile.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
