<div>
    <h2>
        <span jhiTranslate="ps3App.storedFile.home.title">Stored Files</span>
        
        <button class="btn btn-primary float-right jh-create-entity create-stored-file" [routerLink]="['/', { outlets: { popup: ['stored-file-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="d-none d-lg-inline"  jhiTranslate="ps3App.storedFile.home.createLabel">
            Create new Stored File
            </span>
        </button> 
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ps3App.storedFile.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="storedFiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id" class="d-none d-lg-inline">ID</span> <span class="fa fa-sort d-none d-lg-inline"></span></th>
            <th jhiSortBy="fileName"><span jhiTranslate="ps3App.storedFile.fileName">File Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contentType"><span jhiTranslate="ps3App.storedFile.contentType">Mime Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fileLength"><span jhiTranslate="ps3App.storedFile.fileLength">File Length</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerApplication"><span jhiTranslate="ps3App.storedFile.ownerApplication">Owner Application</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerBucket"><span jhiTranslate="ps3App.storedFile.ownerBucket">Owner Bucket</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let storedFile of storedFiles ;trackBy: trackId">
                <td><a [routerLink]="['../stored-file', storedFile.id ]" class="d-none d-lg-inline">{{storedFile.id}}</a></td>
                <td>{{storedFile.fileName}}</td>
                <td>{{storedFile.contentType}}</td>
                <td>{{storedFile.fileLength}} <span [hidden]="!storedFile.fileLength">KB</span></td>
                <td>{{storedFile.ownerApplication}}</td>
                <td>{{storedFile.ownerBucket}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stored-file', storedFile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <a href="/client/api/stored-files/public/{{storedFile.id}}/data" target="_blank" class="btn btn-secondary btn-sm">
                            <span class="fa fa-download"></span>
                            <span class="d-none d-md-inline" jhiTranslate="ps3App.storedFile.getFile">Download</span>
                        </a>
                        <!--    
                        <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'stored-file/'+ storedFile.id + '/edit'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        -->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stored-file/'+ storedFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="storedFiles && storedFiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

</div>
