<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStoredFileLabel" jhiTranslate="ps3App.storedFile.home.createOrEditLabel">Create or edit a Stored File</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!storedFile.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="storedFile.id" readonly />
        </div>
        <!-- 
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.storedFile.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                [(ngModel)]="storedFile.fileName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.storedFile.contentType" for="field_contentType">Mime Type</label>
            <input type="text" class="form-control" name="contentType" id="field_contentType"
                [(ngModel)]="storedFile.contentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.storedFile.ownerApplication" for="field_ownerApplication">Owner Application</label>
            <input type="number" class="form-control" name="ownerApplication" id="field_ownerApplication"
                [(ngModel)]="storedFile.ownerApplication" />
        </div> 
        -->

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.storedFile.ownerApplication" for="field_ownerApplication">Owner Application</label>
            <select class="form-control" id="field_ownerApplication" name="ownerApplication" 
                    [(ngModel)]="storedFile.ownerApplicationId"
                    (change)="onChangeApplication">
                <option [ngValue]="null"></option>
                <option [ngValue]="ownerApplicationOption.id" *ngFor="let ownerApplicationOption of applications; trackBy: trackApplicationById">{{ownerApplicationOption.name}}</option>
            </select>
        </div> 

        <!-- 
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.storedFile.ownerBucket" for="field_ownerBucket">Owner Bucket</label>
            <input type="number" class="form-control" name="ownerBucket" id="field_ownerBucket"
                [(ngModel)]="storedFile.ownerBucket" />
        </div> -->

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.storedFile.ownerBucket" for="field_ownerBucket">Owner Bucket</label>
            <select class="form-control" id="field_ownerBucket" name="ownerBucket" [(ngModel)]="storedFile.ownerBucketId">
                <option [ngValue]="null"></option>
                <option [ngValue]="ownerBucketOption.id" *ngFor="let ownerBucketOption of buckets; trackBy: trackBucketById">{{ownerBucketOption.name}}</option>
            </select>
        </div> 
   
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.storedFile.upload" for="field_upload">Upload File</label>
           			 
			<label class="btn btn-default">
				<input type="file" (change)="selectFile($event)">
			</label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
