
<div *ngIf="application">
    <h2><span jhiTranslate="ps3App.application.detail.title">Application</span> {{application.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ps3App.application.name">Name</span></dt>
        <dd>
            <span>{{application.name}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.application.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'ps3App.ApplicationStatus.' + application.status}}">{{application.status}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.application.createdAt">Created At</span></dt>
        <dd>
            <span>{{application.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.application.lastModified">Last Modified</span></dt>
        <dd>
            <span>{{application.lastModified | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.application.createdBy">Created By</span></dt>
        <dd>
            <span>{{application.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.application.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{application.lastModifiedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
