<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myApplicationLabel" jhiTranslate="ps3App.application.home.createOrEditLabel">Create or edit a Application</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!application.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="application.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.application.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="application.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.application.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="application.status" id="field_status" >
                <option value="ACTIVE">{{'ps3App.ApplicationStatus.ACTIVE' | translate}}</option>
                <option value="INACTIVE">{{'ps3App.ApplicationStatus.INACTIVE' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
