<div>
    <h2>
        <span jhiTranslate="ps3App.bucket.home.title">Buckets</span>
        <button class="btn btn-primary float-right jh-create-entity create-bucket" [routerLink]="['/', { outlets: { popup: ['bucket-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="d-none d-lg-inline"  jhiTranslate="ps3App.bucket.home.createLabel">
            Create new Bucket
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ps3App.bucket.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="buckets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id" class="d-none d-lg-inline">ID</span> <span class="fa fa-sort d-none d-lg-inline"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="ps3App.bucket.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerApplication"><span jhiTranslate="ps3App.bucket.ownerApplication">Owner Application</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accessControl"><span jhiTranslate="ps3App.bucket.accessControl">Access Control</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bucket of buckets ;trackBy: trackId">
                <td><a [routerLink]="['../bucket', bucket.id ]" class="d-none d-lg-inline">{{bucket.id}}</a></td>
                <td>{{bucket.name}}</td>
                <td>{{bucket.ownerApplication}}</td>
                <td jhiTranslate="{{'ps3App.AccessControl.' + bucket.accessControl}}">{{bucket.accessControl}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bucket', bucket.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bucket/'+ bucket.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bucket/'+ bucket.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="buckets && buckets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
