
<div *ngIf="bucket">
    <h2><span jhiTranslate="ps3App.bucket.detail.title">Bucket</span> {{bucket.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ps3App.bucket.name">Name</span></dt>
        <dd>
            <span>{{bucket.name}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.bucket.ownerApplication">Owner Application</span></dt>
        <dd>
            <span>{{bucket.ownerApplication}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.bucket.accessControl">Access Control</span></dt>
        <dd>
            <span jhiTranslate="{{'ps3App.AccessControl.' + bucket.accessControl}}">{{bucket.accessControl}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.bucket.createdAt">Created At</span></dt>
        <dd>
            <span>{{bucket.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.bucket.lastModified">Last Modified</span></dt>
        <dd>
            <span>{{bucket.lastModified | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.bucket.createdBy">Created By</span></dt>
        <dd>
            <span>{{bucket.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="ps3App.bucket.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{bucket.lastModifiedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bucket/'+ bucket.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
