<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBucketLabel" jhiTranslate="ps3App.bucket.home.createOrEditLabel">Create or edit a Bucket</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bucket.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bucket.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.bucket.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="bucket.name" />
        </div>
        
        <!-- 
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.bucket.ownerApplication" for="field_ownerApplication">Owner Application</label>
            <input type="text" class="form-control" name="ownerApplication" id="field_ownerApplication"
                [(ngModel)]="bucket.ownerApplication" />
        </div> 
        -->
                
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.bucket.ownerApplication" for="field_ownerApplication">Owner Application</label>
            <select class="form-control" id="field_ownerApplication" name="ownerApplication" [(ngModel)]="bucket.ownerApplicationId">
                <option [ngValue]="null"></option>
                <option [ngValue]="ownerApplicationOption.id" *ngFor="let ownerApplicationOption of applications; trackBy: trackApplicationById">{{ownerApplicationOption.name}}</option>
            </select>
        </div> 
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ps3App.bucket.accessControl" for="field_accessControl">Access Control</label>
            <select class="form-control" name="accessControl" [(ngModel)]="bucket.accessControl" id="field_accessControl" >
                <option value="PUBLIC">{{'ps3App.AccessControl.PUBLIC' | translate}}</option>
                <option value="USER">{{'ps3App.AccessControl.USER' | translate}}</option>
                <option value="APPLICATION">{{'ps3App.AccessControl.APPLICATION' | translate}}</option>
            </select>
        </div>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
